@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);

/*General Template and Index Styling*/
body{
  width: 100%;
  margin: 0 auto;
  background: black;
  padding: 0;
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

p{
  padding: 0 40px;
  color: white;
  font-size: 24px;
}

a {
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  color: white;
  text-decoration: none;
  -o-transition:.2s;
  -ms-transition:.2s;
  -moz-transition:.2s;
  -webkit-transition:.2s;
  transition: .2s;
}

a:visited{
  color: white;
}

a:hover{
  color: #ff9f28;
}

a:active{
  color: black;
}

footer{
  font-family: 'Fjalla One', sans-serif;
  font-size: 20px;
  color: white;
  height: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  text-align: left;
  padding-left: 15px;
  background: #ff9f28;
}
/*Grid Box for styling*/
#boxed{
  display: grid;
  grid-template-columns: 230px auto;
  justify-items: end;
  grid-template-areas:
    "box1 box2"
    "box3 box3"
    "box4 box4"
}

#logo{
  justify-self: start;
  margin: 0;
  grid-area: box1;
}

#navmenu{
  grid-area: box2;
  justify-self: end;
  align-self: end;
  text-align: center;
  margin: 0;
  padding: 0;
}

#navmenu li{
  padding: 0 0;
  padding-left: 20px;
  display: inline;
}

#hours{
  padding: 10px 0;
  width: 100%;
  color: white;
  font-family: 'Fjalla One', sans-serif;
  font-size: 22px;
  text-align: left;
  line-height: 25px;
  grid-area: box3;
  height: auto;
  margin: 0;
  background: #ff9f28;
  display: grid;
  grid-template-areas:
    "arewe"
    "open"
}

#openhours{
  padding: 0 20px;
  grid-area: open;
  font-size: 18px;
}
#openstatus{
  padding: 0 20px;
  grid-area: arewe;
}

#blurb{
  grid-area: box4;
  width: 100%;
  padding: 40px 0;
  text-align: justify;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
  font-family: 'Fjalla One', sans-serif;
  line-height: 2em;
  background-image: url("../static/chegoflames.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

#catering {
  grid-area: box4;
  width: 100%;
  padding: 20px 0;
  text-align: justify;
  color: white;
  padding: 100px 0;
  color: white;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
  font-family: 'Fjalla One', sans-serif;
  background-image: url("../static/thumbsup.jpg");
  background-attachment: local;
  background-position: center;
  background-repeat: no-repeat;
}

#catering p{
  font-size: 24px;
}

#catering a{
  font-size: 24px;
}

#menu{
  color: white;
  font-family: 'Fjalla One', sans-serif;
  grid-area: box4;
  width: 100%;
  padding: 40px 0;
  text-align: justify;
  text-shadow: 3px 3px 4px rgba(0,0,0,0.8);
  background: black;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  justify-items: start;
  grid-template-areas:
    "head1 ."
    "cell1 cell2"
    "head2 head3"
    "cell3 cell4"
    "head4 ."
    "cell5 cell5"

}

#menu p{
  font-size: 18px;
  padding: 0;
  color: white;
  font-family: 'Fjalla One', sans-serif;
}

.menuHeadings {
  margin-top: 30px;
  font-weight: bold;
  font-size: 2em;
  padding: 0 20px;
  color: #ff9f28;
}

#appHead{
  grid-area: head1;
}
#appcol1{
  padding: 0 20px;
  grid-area: cell1;
}
#appcol2{
  padding: 0 20px;
  grid-area: cell2;
}

#grillHead{
  padding: 0 20px;
  grid-area: head2;
}
#wokHead{
  padding: 0 20px;
  grid-area: head3;
}

#grill{
  padding: 0 20px;
  grid-area: cell3;
}

#wok{
  padding: 0 20px;
  grid-area: cell4;
}

#sweetHead{
  padding: 0 20px;
  grid-area: head4;
}

#sweets{
  padding: 0 20px;
  grid-area: cell5;
}

.note{
  padding: 0;
  margin: 0;
  font-size: 14px;
}
.wNote{
  margin-bottom:0;
}

#contact{
  font-family: 'Fjalla One', sans-serif;
  padding: 15px;
  margin: 0;
  text-decoration: none;
  color: white;
  text-align: left;
  font-size: 18px;
  background: rgba(255,255,255, 0.3)
}

#socialIcons li{
  display: inline;
  padding-right: 10px;
}

.social-icon{
	  font-size: 3em;
}

@media only screen and (max-width: 600px) {
  #boxed{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "box1"
      "box2"
      "box3"
      "box4"
  }
  #menu{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "head1"
      "cell1"
      "cell2"
      "head2"
      "cell3"
      "head3"
      "cell4"
      "head4"
      "cell5"
  }
  #logo{
    justify-self: center;
  }
  #navmenu{
    justify-self: center;
  }

  #navmenu li{
    display: block;
  }
}

@media only screen and (max-device-width: 600px) {
  #boxed{
	width: 100%;
    justify-content: stretch;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas:
      "box1 box2"
      "box3 box3"
      "box4 box4"
  }
  #menu{
    justify-content: center;
    display: grid;
    grid-template-columns: auto;
    grid-template-areas:
      "head1"
      "cell1"
      "cell2"
      "head2"
      "cell3"
      "head3"
      "cell4"
      "head4"
      "cell5"
  }
  
  #menu p{
	  padding-top: 1.4em;
  }
  
  #logo{
    justify-self: start;
	align-self: center;
	height: 15em;
	width: auto;
  }
  
  #logoimg{
	  height: 15em;
	  width: auto;
  }
  
  #navmenu{
	text-align: right;
	width: 100%;
    justify-self: end;
  }

  #navmenu li{
    display: block;
  }
  
  #navmenu a{
    font-size: 2.8em;
  }
  
  #grillHead{
	  width: 100%;
  }
  
  #wokHead{
	  width: 100%;
  }
  footer{
	  font-size: 2em;
  }
  .social-icon{
	  font-size: 4em;
  }
}

@media only screen and (min-width: 950px) {
  body{
    width: 950px;
    margin-left: auto;
    margin-right: auto;
  }
}
